body {
    background: #151418;
}
/* .loading-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar {
    display: block;
    height: 36px;
    width: 10px;
    background: #fff;
    margin-right: 24px;
    animation: scale 1600ms ease-in-out;
    animation-delay: 100ms;
    transform-origin: 50% 50%;
    box-shadow: 2px 2px 2px #3ff9dc;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
    
} */

.pulse-container {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.pulse-bubble {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #3ff9dc;
}
.pulse_bubble-1 {
    opacity: .5;
    animation: pulse .4s ease infinite;
}
.pulse_bubble-2 {
    animation: pulse .4s ease infinite;
}
.pulse_bubble-3 {
    animation: pulse .4s ease infinite;
}

@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: .25;
        transform: scale(.75);
    }
}
