body {
    /* background: #151418; */
    background: white;
}
/* .loading-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar {
    display: block;
    height: 36px;
    width: 10px;
    background: #fff;
    margin-right: 24px;
    animation: scale 1600ms ease-in-out;
    animation-delay: 100ms;
    transform-origin: 50% 50%;
    box-shadow: 2px 2px 2px #3ff9dc;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
    
} */

/* .pulse-container {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.pulse-bubble {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #3ff9dc;
}
.pulse_bubble-1 {
    opacity: .5;
    animation: pulse .4s ease infinite;
}
.pulse_bubble-2 {
    animation: pulse .4s ease infinite;
}
.pulse_bubble-3 {
    animation: pulse .4s ease infinite;
}

@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: .25;
        transform: scale(.75);
    }
} */

/* .list {
    list-style: none;
}

.list > li::before {
    content: "\2714";
    margin: 0 0.5rem 0 -1rem;

} */

/* .title {
    position: relative;
    display: inline-block;
}
.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background: linear-gradient(
        90.84deg,
        #2196f3 -12.84%,
        #03989e 30.91%,
        #9b2cc7 104.16%
    );
} */
/* .quote::before {
    content: "\275D";
    color: #00b9ae;
    font-size: 2rem;
}
.quote::after {
    content: "\275E";
    color: #9e00ff;
    font-size: 2rem;
} */
/* .tooltip {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #bccc00;
    color: #1a1a1a;
    position: relative;
}
.tooltip::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #bccc00;
    left: 50%;
    bottom: -1rem;
    transform: translate(-50%);
} */
/* body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: rebeccapurple;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pw-container {
    width: 400px;
    background-color: rgb(69, 17, 118);
    box-shadow: 0 4px 10px rgba(0 ,0, 0, 0.6);
}

.pw-header {
    padding: 1rem;
}
.pw {
    width: 100%;
    height: 70px;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
}

.pw button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 50%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    background-color: rgb(35, 5, 66);
    padding: 0.25rem 1rem;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, -88%);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    display: block;
    background-color: #ecb602;
    color: rebeccapurple;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    border: none;
    width: 100%;
} */

/* Accordeon */
/* body {
    background-color: #0a2344;
}
h1 {
    text-align: center;
}
.accordion {
    width: 800px;
    margin: 90px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;
}
.accordion .container {
    position: relative;
    margin: 10px 10px;
}
.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
}
.accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}
.accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
}
.accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
}
.accordion .container.active .content {
    height: 150px;
}
.accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
} */
/* html {  
    box-sizing: border-box;  
    --bgColorMenu : #1d1d27;  
    --duration: .7s;    
  }  
  html *,  
  html *::before,  
  html *::after {  
    box-sizing: inherit;  
  }  
  body{  
    margin: 0;  
    display: flex;  
    height: 100vh;  
    overflow: hidden;  
    align-items: center;  
    justify-content: center;  
    background-color: #ffb457;  
    -webkit-tap-highlight-color: transparent;  
    transition: background-color var(--duration);  
  }  
  .menu{  
    margin: 0;  
    display: flex;  
    /* Works well with 100% width */  
    /* width: 32.05em;  
    font-size: 1.5em;  
    padding: 0 2.85em;  
    position: relative;  
    align-items: center;  
    justify-content: center;  
    background-color: var(--bgColorMenu);  
  }  
  .menu__item{  
    all: unset;  
    flex-grow: 1;  
    z-index: 100;  
    display: flex;  
    cursor: pointer;  
    position: relative;  
    border-radius: 50%;  
    align-items: center;  
    will-change: transform;  
    justify-content: center;  
    padding: 0.55em 0 0.85em;  
    transition: transform var(--timeOut , var(--duration));  
  }  
  .menu__item::before{  
    content: "";  
    z-index: -1;  
    width: 4.2em;  
    height: 4.2em;  
    border-radius: 50%;  
    position: absolute;  
    transform: scale(0);  
    transition: background-color var(--duration), transform var(--duration);  
  }  
  .menu__item.active {  
    transform: translate3d(0, -.8em , 0);  
  }  
  .menu__item.active::before{  
    transform: scale(1);  
    background-color: var(--bgColorItem);  
  }  
.icon {
    width: 2.6em;
    height: 2.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
}
.menu__item.active .icon {
    animation: strok 1.5s reverse;
}
@keyframes strok {
    100% {
        stroke-dashoffset: 400;
    }
}
.menu_border {
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut , var(--duration));
}
.svg-container {
    width: 0;
    height: 0;
}
@media screen and (max-width: 50em){
    .menu{
        font-size: .8em;
    }
} */

/* toggle switch dark slider */
/* * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html,
body {
    height: 100%;
}
:root {
    --color-1:#040404;
    --color-2:#f9f9f9;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1);
    transition: background 0.6s;
}
.switch {
    position: relative;
    display: inline-block;
    width: 3.8rem;
    height: 2rem;
}
.switch_input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch_slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff4754;
    border-radius: 1rem;
    transition: background 0.2s;
    cursor: pointer;
}
.switch_slider::before {
    content: "";
    position: absolute;
    left: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 1.6rem;
    background: var(--color-1);
    transition: transform 0.2s, width 0.2s, background 0.2s;
}
.switch_input:checked + .switch_slider {
    background: var(--color-2);
}
.switch_input:not(:checked):active + .switch_slider::before {
    width: 2.4rem;
}
.switch_input:checked:active + .switch_slider::before {
    transform: translate(1rem, -50%);
    width: 2.4rem;
}
.switch_input:checked + .switch_slider::before {
    transform: translate(1.8rem, -50%);
}  */


/* BMI Calculaator */
/* body {
    margin:0;
    height: 100vh;
    padding: 0;
    border: 0;
    background: linear-gradient(to bottom right, #f1f2b5, #eef3f3 );
}
.form {
    background-color: #fff;
    height: 240px;
    width: 450px;
    border-radius: 20px;
    margin: 20px auto 20px auto;
    display: block;
    border: solid 1px #289df6;
    box-shadow: 0 0 40px 0 #ddd;
}
.form:hover {
    box-shadow: 0 0 60px 0 #ccc;
    transition: .4s;
    transform: scale(1.02);
}
.row-one {
    padding: 20px;
}
.row-two {
    padding: 20px;
}
.text-input {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: #dbeffe;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}
.text-input:last-child{
    margin-bottom: 30px;
}
.text-input:hover {
    background-color: #cbe7fd;
}
#submit {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    background-color: #289df6;
    color: #fff;
    margin: auto;
    display: block;
    outline: none;
    cursor: pointer;
}
#submt:hover {
    background-color: #0a8ef2;
}
.text {
    display: inline-block;
    margin: 5px 20px 5px 8px;
}
.row-one {
    padding: 30px 20px 15px 20px;
}
.row-two {
    padding: 15px 20px 30px 20px;
}
.container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #dbeffe;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background-color: #cbe7fd;
}
.container input:checked ~ .checkmark {
    background-color: #289df6;
}
h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #289df6;
    padding-top: 15px;
    display: block;
}
h2 {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}
h3 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding: 15px;
}
h3 b {
    font-size: 32px;
    font-weight: 300;
    color: #289df6;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
} */

/* TEXT MORPH */
/* body {
    margin: 0px;
}
#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}
#text1, #text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-size: 80pt;
    text-align: center;
    user-select: none;
} */

/* Vertical Slider */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.left-slider {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}
.left-slider > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.left-slider h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}
.right-slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}
.right-slider >div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}
button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}
button:hover {
    color: #222;
}
button:focus {
    outline: none;
}
.slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}
.slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
} */


/* sign in login form */

/* :root {
    /*Color*/
    /* --white: #e9e9e9;
    --grey: #333;
    --blue: #0367a6;
    --lightblue: #008997;
    /* Radii */
    /* --button-radius: 0.7rem; */
    /* Size */
    /* --max-width: 758px;
    --max-height: 420px;
    font-size: 16px;
}
body {
    align-items: center;
    background-color: var(--white);
    background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
}
.form_title {
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.25rem;
}
.link {
    color: var(--grey);
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-decoration: none;
}
.container {
    background-color: var(--white);
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 07rem rgba(0, 0, 0, 0.22);
    height: var(--max-height);
    max-width: var(--max-width);
    overflow: hidden;
    position: relative;
    width: 100%;
}
.container_form {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}
.container--signin {
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.right-panel-active .container--signin {
    transform: translateX(100%);
}
.container--signup {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}
.container.right-panel-active .container--signup {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}
.container_overlay {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}
.container.right-panel-active .container_overlay {
    transform: translateX(-100%);
}
.overlay {
    background-color: var(--lightblue);
    background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}
.container.right-panel-active .overlay {
    transform: translateX(50%);
}
.overlay_panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}
.overlay--left {
    transform: translateX(-20%);
}
.container.right-panel-active .overlay--left {
    transform: translateX(0);
}
.overlay--right {
    right: 0;
    transform: translateX(0);
}
.container.right-panel-active .overlay--right {
    transform: translateX(20%);
}
.btn {
    background-color: var(--blue);
    background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
    border-radius: 20px;
    border: 1px solid var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.form > .btn {
    margin-top: 1.5rem;
}
.btn:active {
    transform: scale(0.95);
}
.btn:focus {
    outline: none;
}
.form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
}
.input {
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
}
@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

DICTIONARY APP */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: cyan;
}
::selection {
    color: #fff;
    background: cyan;
}
.wrapper {
    width: 420px;
    border-radius: 7px;
    background: #fff;
    padding: 25px 28px 45px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}.wrapper .search {
    position: relative;
    margin: 35px 0 18px;
}
.search input {
    height: 53px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 42px;
    border: 1px solid #999;
}
.search input:focus {
    padding: 0 41px;
    border: 2px solid cyan;
}
.search input ::placeholder {
    color: #888888;
}
.search :where(i, span) {
    position: absolute;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
}
.search i {
    left: 18px;
    pointer-events: none;
    font-size: 16px;
}
.search input:focus ~ i {
    color: cyan;
}
.search span{
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    display: none;
}
.search input:valid ~ span{
    display: block;
}
.wrapper .info-text{
    font-size: 13px;
    color: #9a9a9a;
    margin: -3px 0 -10px;
}
.wrapper.active .info-text{
    display: none;
}
.info-text span {
    font-weight: 500;
}
.wrapper ul {
    height: 0;
    opacity: 0;
    padding-right: 1px;
    overflow-y: hidden;
    transition: all 0.2s ease;
}
.wrapper.active ul {
    opacity: 1;
    height: 303px;
}
.wrapper ul li {
    display: flex;
    list-style: none;
    margin-bottom: 14px;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px solid #d9d9d9;
    justify-content: space-between;
}
ul li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}
ul .word p {
    font-size: 22px;
    font-weight: 500;
}
ul .word span {
    font-size: 12px;
    color: #989898;
}
ul .word i {
    color: #999;
    font-size: 15px;
    cursor: pointer;
}
ul .content {
    max-height: 215px;
    overflow-y: auto;
}
ul .content::-webkit-scrollbar{
    width: 0px;
}
.content li .details {
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
    border-left: 3px solid cyan;
}
.content li p {
    font-size: 17px;
    font-weight: 500;
}
.content li span {
    font-size: 15px;
    color: #7e7e7e;
}
.content .synonyms .list {
    display: flex;
    flex-wrap: wrap;
}
.content .synonyms span {
    cursor: pointer;
    margin-right: 5px;
    text-decoration: underline;
}