body {
    /* background: #151418; */
    background: white;
}
/* .loading-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar {
    display: block;
    height: 36px;
    width: 10px;
    background: #fff;
    margin-right: 24px;
    animation: scale 1600ms ease-in-out;
    animation-delay: 100ms;
    transform-origin: 50% 50%;
    box-shadow: 2px 2px 2px #3ff9dc;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
    
} */

/* .pulse-container {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.pulse-bubble {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #3ff9dc;
}
.pulse_bubble-1 {
    opacity: .5;
    animation: pulse .4s ease infinite;
}
.pulse_bubble-2 {
    animation: pulse .4s ease infinite;
}
.pulse_bubble-3 {
    animation: pulse .4s ease infinite;
}

@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: .25;
        transform: scale(.75);
    }
} */

/* .list {
    list-style: none;
}

.list > li::before {
    content: "\2714";
    margin: 0 0.5rem 0 -1rem;

} */

/* .title {
    position: relative;
    display: inline-block;
}
.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background: linear-gradient(
        90.84deg,
        #2196f3 -12.84%,
        #03989e 30.91%,
        #9b2cc7 104.16%
    );
} */
/* .quote::before {
    content: "\275D";
    color: #00b9ae;
    font-size: 2rem;
}
.quote::after {
    content: "\275E";
    color: #9e00ff;
    font-size: 2rem;
} */
/* .tooltip {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #bccc00;
    color: #1a1a1a;
    position: relative;
}
.tooltip::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #bccc00;
    left: 50%;
    bottom: -1rem;
    transform: translate(-50%);
} */
/* body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: rebeccapurple;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pw-container {
    width: 400px;
    background-color: rgb(69, 17, 118);
    box-shadow: 0 4px 10px rgba(0 ,0, 0, 0.6);
}

.pw-header {
    padding: 1rem;
}
.pw {
    width: 100%;
    height: 70px;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
}

.pw button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 50%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    background-color: rgb(35, 5, 66);
    padding: 0.25rem 1rem;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, -88%);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    display: block;
    background-color: #ecb602;
    color: rebeccapurple;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    border: none;
    width: 100%;
} */

/* Accordeon */
body {
    background-color: #0a2344;
}
h1 {
    text-align: center;
}
.accordion {
    width: 800px;
    margin: 90px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;
}
.accordion .container {
    position: relative;
    margin: 10px 10px;
}
.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
}
.accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}
.accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
}
.accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
}
.accordion .container.active .content {
    height: 150px;
}
.accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
}

